<div id="about-me">
  <div class="container-fluid">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding: 0 50px 0 50px;">
      <object id="Layer_1" type="image/svg+xml" data="logo1.svg" style="height: 400px;"></object>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 wow bounceInUp" style="margin-top: 450px;" data-wow-duration="2s" data-wow-delay="0s">
      <ul>
        {{#each profiles as |profile|}}
          <li>
            CURRENTLY :  {{profile.currently}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
