<div id="about-me">
  <div class="container-fluid">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding: 0 50px 0 50px;">
      <!-- <h1 style="font-size: 5em; text-alight: justify">ISABELLA</h1>
      <h1 style="font-size: 5em; text-align: left;">ONG</h1>
      <h1 style="font-size: 5em; text-align: right;">ZHIXU</h1> -->
      <!-- <img style="height: 340px; "src="logo.svg" /> -->
      <object id="my-svg" type="image/svg+xml" data="logo1.svg" style="height: 400px;"></object>
      <!-- <h3 style="text-alignt: center">web developer / architecture student</h3> -->
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="margin-top: 450px;">
      <ul>
        {{#each profiles as |profile|}}
          <li>
            CURRENTLY :  {{profile.currently}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
