<div id="educations" style="background-image:url(line.svg); background-position:center; background-repeat: no-repeat;">
  <div class="container-fluid">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: right;">
      <!-- <h2>EDUCATION</h2> -->
      <object id="Layer_4" type="image/svg+xml" data="education.svg" style="height: 200px;"></object>
        {{#each educations as |education|}}
          <div class="row wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s">
            <div class="col-lg-8" style="text-align: left;">
              <h5>{{education.school}}</h5>
            </div>
            <div class="col-lg-4">
              <h6>{{education.duration}}</h6>
            </div>
          </div>
        {{/each}}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: right; margin-top: 7%;">
      <!-- <h2>ACCOLADES</h2> -->
      <object id="Layer_5" type="image/svg+xml" data="trophy.svg" style="height: 200px;"></object>
      {{#each educations as |education|}}
        <div class="row wow fadeInDown" data-wow-duration="2s" data-wow-delay=".5s">
          <div class="col-lg-4">
            <h6>{{education.duration}}</h6>
          </div>
          <div class="col-lg-8" style="text-align: right;">
            <h5>{{education.school}}</h5>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
  </div>
</div>
