<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: right;">
  <!-- <h2>EDUCATION</h2> -->
  <object id="Layer_4" type="image/svg+xml" data="education.svg" style="height: 200px;"></object>
  {{#each educations as |education|}}
  <div class="row wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s">
    <div class="col-lg-8" style="text-align: left;">
      <p>{{education.school}}</p>
    </div>
    <div class="col-lg-4" style="text-align: center;">
      <h5>{{education.duration}}</h5>
    </div>
  </div>
  {{/each}}
</div>
