<div id="educations">
  <h1 style="color: white;">EDUCATION</h1>
  <div class="container">
    <ul>
      {{#each educations as |education|}}
        <li>
          {{education.school}} | {{education.duration}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
