<nav class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="myScrollspy" style="position: fixed; text-align: center; z-index: 1;" >
  <ul style="padding-top: 80px; text-align: left;">
    <a class="page-scroll" href="#about-me"><img style="height: 60px;" src="doubt.svg" /></a>
    <div class="row" style="height: 300px;"></div>
    <li>
      <a class="page-scroll" href="#skills">SKILLS</a>
    </li>
    <li>
      <a class="page-scroll" href="#projects">PROJECTS</a>
    </li>
    <li>
      <a class="page-scroll" href="#educations">EDUCATION</a>
    </li>
    <li>
      <a class="page-scroll" href="#contacts">CONTACTS</a>
    </li>
  </ul>
</nav>
