<div id="skills" style="border: 1px solid black;">
  <h4 style="color: red;">portfolio-skills: component</h4>
  <ul>
    {{#each skills as |skill|}}
      <li>
        {{skill.skill}} | {{skill.proficiency}}
      </li>
    {{/each}}
  </ul>
</div>
