<div style="border: 1px solid black;">
  <h4 style="color: red;">portfolio-educations: component</h4>
  <ul>
    {{#each educations as |education|}}
      <li>
        {{education.school}} | {{education.duration}}
      </li>
    {{/each}}
  </ul>
</div>
