<div id="projects" style="overflow: scroll;">
  <section id="portfolio" class="portfolio-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <h1>PROJECTS</h1> -->
        <object id="Layer_3" type="image/svg+xml" data="portfolio.svg" style="height: 200px;"></object>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 item-filter bot-margin">
          <ul class="list-inline text-center">
            <li class="filter" data-filter="all">All</li>
            <li class="filter" data-filter=".webdev">Web Dev</li>
            <li class="filter" data-filter=".architecture">Architecture</li>
          </ul>
        </div>
        <div id="portfolio-items" class="col-xs-12">

          {{#each projects as |project|}}
          {{project-indiv project=project}}
          {{/each}}

          {{#each projects as |project|}}
          {{project-modal project=project}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</div>
