<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: right; margin-top: 3%;">
  <!-- <h2>ACCOLADES</h2> -->
  <object id="Layer_5" type="image/svg+xml" data="trophy.svg" style="height: 200px;"></object>
  {{#each achievements as |achievement|}}
    <div class="row wow fadeInDown" data-wow-duration="2s" data-wow-delay=".5s">
      <div class="col-lg-4">
        <h5>{{achievement.year}}</h5>
      </div>
      <div class="col-lg-8" style="text-align: right;">
        <p>{{achievement.achievement}}</p>
      </div>
    </div>
  {{/each}}
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
