<div id="projects">
  <h1>PROJECTS</h1>
  <div class="container">
    <ul>
      {{#each projects as |project|}}
        <li>
          {{project-indiv project=project}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
