<div id="skills">
  <object id="Layer_2" type="image/svg+xml" data="skills.svg" style="height: 200px;"></object>

  <div class="container" style="text-align: center">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 50px;">
        <canvas id="myChart" width="100" height="70%" style="z-index: -1;"></canvas>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 50px;">
        <canvas id="myChart2" width="100" height="60%" style="z-index: -1;"></canvas>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="width: 50%;">
        <h3>Web Dev</h3>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="width: 44%;">
        <h3>Architecture / Design</h3>
      </div>
    </div>
  </div>
</div>
