<div style="border: 2px dotted black;">
  <h3>{{project.title}}</h3>
  <p>
    {{project.description}}
  </p>
  {{#each project.skills as |skill| }}
  <div style="border: 1px solid black; margin: 5px; display: inline;">
    {{skill.skill}}
  </div>
  {{/each}}
</div>
