<div class="col-md-3 col-xs-12 mix {{project.category}}" data-myorder={{project.dataOrder}}>
  <div style="height: 100%; background-color: #EA2E49; padding-top: 5px;">
    <a href="#" data-toggle="modal" data-target="#{{project.id}}">
      <h3 style="color: white;">{{uppercase project.title}}</h3>
    </a>
  </div>
</div>
