<div style="height: 100%; background-color: #F2385A; padding-top: 5px;">
  <a href="#" data-toggle="modal" data-target="#{{project.id}}">
    <h3 style="color: white;">{{project.title}}</h3>
  </a>
</div>
