body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #333745;
}

::-webkit-scrollbar {
    display: none;
}

html {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

li {
  list-style: none;
  list-style-decoration: none;
}

h1 {
  font-size: 3.2em;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Reem Kufi', sans-serif;
  color: #333745;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

#about-me {
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
    text-align: center;
}

#projects {
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
    text-align: center;
    background: rgba(218,237,226,0.5);
}

#skills {
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
    text-align: center;
    background: #fff;
}

#educations {
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
    text-align: center;
    background: rgba(218,237,226,0.6);
}

#contacts {
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

/* ======================================
 *  Navbar
/* ====================================== */


#myScrollSpy {
  position: fixed;
  text-align: center;
  z-index: 1;
}

/*#myScrollSpy ul.nav {
  padding-top: 80px;
}*/

/* ======================================
 *  Portfolio
/* ====================================== */

#portfolio {
  /*padding: 80px 0px 40px 0px;
  border-bottom: 1px solid #F1EBEB;*/
}

.portfolio-wrap .mix {
  display: none;
  margin-bottom: 20px;
  height: 140px;
}

.item-filter {
  margin-bottom: 40px;
}

.item-filter ul li {
  /*border: 1px solid #E8E8E8;*/
  color: #5A5252;
  cursor: pointer;
  padding: 5px 10px;
  letter-spacing: 1px;
}

.item-filter ul li.active {
  border: 1px solid #333745;
  background-color: #333745;
  color: #FFFFFF;
}

.img-wrap {
  overflow: hidden;
  position: relative;
}

.img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.img-wrap:hover .img-overlay {
  opacity: 1;
}

.clients {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Lato', arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-top: 20px;
}

.modal.modal-fullscreen.force-fullscreen .modal-body {
    margin-top: 160px;
    margin-bottom: 80px;
}

/* ======================================
